body {
  margin: 0;
  font-family: "Nunito";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h2{
  font-family: "Nunito"!important;
}
h5{
  font-family: "Nunito"!important;
}
div{
  font-family: "Nunito" !important;
}
p{
  font-family: "Nunito" !important;
}
body1{
  font-family: "Nunito" !important;
}
button{
  font-family: "Nunito" !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
